Recursion
If a function is used in itself, its callled a recursive Function.

In [14]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n - 1)

print(factorial(5))
# 5 * factorial(4)
# 5 * 4 * factorial(3)
# 5 * 4 * 3 factorial(2)
# 5 * 4 * 3 * 2 factorial(1)
# 5 * 4 * 3 * 2 * 1


# Fibonacci Sequence
def f(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return f(n-1) + f(n-2)

print(f(0))
print(f(1))
print(f(2))
print(f(3))
print(f(4))
print(f(5))
print(f(6))
print(f(7))

120
0
1
1
2
3
5
8
13

In [29]:
a=3

if a>1:
  print(a)
else:
  print(1)

3

In [17]:
a = (2,3)

print(a[0])

2

In [24]:
def abc(a,b,c):
  return [(a+b),(b+c)]

a=5
b=6
c=7

result=(abc(5,6,7))
print(result)
print(type(result))

[11, 13]
<class 'list'>

Sets

In [14]:
# cant have same value more than once.
# does not maintain order
# empty set set={}, will be dict so need to mention set =set().
s = {2,4,6,8,2,2}
print(s)

s1 = {"buri",7,8,8,True,8.9}
print(s1)

{8, 2, 4, 6}
{8, 2, 4}
{True, 'buri', 7, 8, 8.9}

In [9]:
s1 = {1,2,3,4,5}
s2 = {4,5}

# union doesnt change the original sets
# it joins two sets
# s3 = s1.union(s2)

# update changes the original set s1
# s1.update(s2)

# intersection shows the  only common elements in both sets.
# s4= s1.intersection(s2)

# intersection_update changes the original set
# s4= s1.intersection_update(s2)

# symmetric_difference is the opposite of intersection
# and shows only the different elements of two sets
# s4 = s1.symmetric_difference(s2)

# it gives us the the common elements of set 1,
# or we can say it takes out the common elements from set1
# which are also present in set 2.
# s4 = s1.difference(s2)

# isdisjoined give a boolean based on if two sets have an intersection or not.
# s4 = s1.isdisjoint(s2)

# issuperset give a boolean based on if the values present
# the second set are all present in first set.
# s4 = s1.issuperset(s2)

# issubset give a boolean based on if the values present
# the second set are all present in first set.
# by this method we check the second set
# s4 = s2.issubset(s1)

# this method helps us to add only one element to the set
# s1.add(10)


# both methods are used to remove an element , but if the
# element is not present in the set the remove method will show
# error while the discard will run
# s1.remove(5)
# s1.discard(99)


# this method removes any random item from the set
# item = s1.pop()
# print(item)

# this deletes the whole set
# del s1

# this just deletes the contents of the set
# s1.clear()

print(s1)
# print(s4)

1
{2, 3, 4, 5}

In [20]:
# Dictionary
# ordered
info = {"name" : "Buri", "age":23,"eligible":True}


print(info)
print(info['age'])

# this will give error
# print(info['colour'])

# this wont
print(info.get('colour'))

print(info.keys())

print(info.values())

print(info.items())

for key in info.keys():
  print(info[key])

for key in info:
  print(key)

{'name': 'Buri', 'age': 23, 'eligible': True}
23
None
dict_keys(['name', 'age', 'eligible'])
dict_values(['Buri', 23, True])
dict_items([('name', 'Buri'), ('age', 23), ('eligible', True)])
Buri
23
True
name
age
eligible

In [7]:
dic1 = {"a":1,"b":2,"c":3}
dic2 = {"d":4,"e":5,"f":6}

# it join the given dict with first
dic1.update(dic2)

# this method removes the last item from the dict
dic1.popitem()

# this method removes the given item
dic1.pop("c")

# deletes the whole dict
# del dic1

# delets the given item key
del dic1['a']

print(dic1)

{'b': 2, 'd': 4, 'e': 5}

In [27]:
for i in range(6):
  print(i)
  if i == 3:
    print("got it")
    break
else:
  print("no i")

0
1
2
3
got it

Error handling

In [46]:
# Try except Method
x = (input("enter the number: "))
print(f"Multiplication table of {x} is:")


try:

  for i in range(1,11):
    print(f"{int(x)} x {i} = {int(x)*i}")
except:
  print("invalid input")

enter the number: 98989898
Multiplication table of 98989898 is:
98989898 x 1 = 98989898
98989898 x 2 = 197979796
98989898 x 3 = 296969694
98989898 x 4 = 395959592
98989898 x 5 = 494949490
98989898 x 6 = 593939388
98989898 x 7 = 692929286
98989898 x 8 = 791919184
98989898 x 9 = 890909082
98989898 x 10 = 989898980

In [54]:

#  we can also use multiple except statements

try:
  num = int(input("Enter an integer: "))
  a = [6,3]
  print(a[num])
except ValueError:
  print("Value  not an integer")

except IndexError:
  print("Index Error")

Enter an integer: 0
6

In [59]:
# we can also use Finally keyword after except
# filly will be interpreted even after the function has returned something.
def func():
  try:
    l = [1,2,3,4,5,6]
    i = int(input("enter the index: "))
    print(l[i])
    return True
  except:
    print("Some Error")
    return False

  finally:
    print("i am always executed")

x = func()
print(x)

enter the index: 3
4
i am always executed
1

In [69]:
# Raising Errors (Raise)
a = int(input("enter between 5 t0 10: " ))

if(a<5 or a>10):
  raise ValueError("value not correct")

enter between 5 t0 10: 6