In [ ]:
print(50*10)
print("hello\nBur\"Han\"")
print("hey", 2, 5, 6, 7, sep="~")
print(2,4,5,6, sep=",")


print("hey there!\nWhats Up?\n\"Buri\"",9,10,20,30, sep="," , end="Bye")

500
hello
Bur"Han"
hey~2~5~6~7
2,4,5,6
hey there!
Whats Up?
"Buri",9,10,20,30Bye

In [5]:
a=1
b = 99
print(a+b)

100

In [14]:
# DataTypes
a=1
b="b"
c=True
d=None
e=1.1

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [16]:
list1 = [[1,2],[2.3,7.9],["apple","burhan"]]
tuple1= (("hello","man"),("whatsUp"),(12,89))
dict1= {"name":"burhan", "age":23,"canVote":True}

print(list1)
print(tuple1)
print(dict1)
print(type(list1))
print(type(tuple1))
print(type(dict1))

[[1, 2], [2.3, 7.9], ['apple', 'burhan']]
(('hello', 'man'), 'whatsUp', (12, 89))
{'name': 'burhan', 'age': 23, 'canVote': True}
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [18]:
print(15+6)
print(15-6)
print(15*6)
print(15/6)
print(15//6)
print(15%6)
print(3**3)
# % = Modulus, Gives only remainder
# // = Floor Division, without decimal
# ** = Exponential, Raised Power

21
9
90
2.5
2
3
27

In [45]:
# Exercise Calculator

a=int(input("Enter 1st number:" ))
b=int(input("Enter 2nd number:" ))

# method =(input("Enter method:" ))




add = (a+b)
sub = (a-b)
mul = (a*b)
div = (a/b)


print(div)

Enter 1st number:9
Enter 2nd number:9
1.0

In [26]:
# Explicit TypeCasting
a="1"
b="2"
print(int(a)+int(b))

# Implicit TypeCasting
c=2.2
d=2
print(c+d)

3
4.2

In [49]:
a = "buri"

# Multi line Stiring
b ="""Hello
"uncle"
Namaste"""
print(b)

# indexing
print(a[0])
for i in b:
  print(i)

Hello
"uncle"
Namaste
b
H
e
l
l
o


"
u
n
c
l
e
"



N
a
m
a
s
t
e

In [3]:
nm = "Harry"
print(nm[-4:-2])

# same as above
print(nm[-4:len(nm)-2])

ar
ar

In [30]:
# Strings are immutable(do not change, new strings is created)

a = "Buri"
b = "buri blog green buri !!"

print(len(a))
print(a.upper())
print(a.lower())

print(b.rstrip("!"))
print(a.replace("Buri","Burhan"))
print(b.split(" "))
print(b.capitalize())

print(len(b))
print((b.center(50)))
print(b.count("buri"))
print(b.endswith("!!"))
print(b.endswith("og", 1, 9))
print(b.find("green"))
print(b.find("yellow"))

print(b.isalnum())
print(a.isalpha())
print(b.islower())
print(b.isprintable())
print(b.isspace())

4
BURI
buri
buri      blog green buri
Burhan
['buri', '', '', '', '', '', 'blog', 'green', 'buri', '!!']
Buri      blog green buri !!
28
           buri      blog green buri !!
2
True
False
15
-1
False
True
True
True
False