If Else

In [8]:
a = int(input("Enter your age: "))
print ("your age is" , a)

if a>18 :
  print("you can vote")
elif a==18:
  print("just 18, vote carefully!")
else:
  print("too young")

Enter your age: 18
your age is 18
just 18, vote carefully!

Nested If Statements

In [15]:
a = int(input("Enter your age: "))
print ("your age is" , a)

if a>18 :
  if a>18 and a<=21:

    print("you can vote but cant marry")
  elif a >21 and a<=30 :
    print("you can vote and marry")
  else:
    print("you can do what ever")

elif a==18:
  print("just 18, vote carefully!")
else:
  print("too young")

Enter your age: 31
your age is 31
you can do what ever

Match Case Statements

In [20]:
x = input("Enter the month: ")

match x:

  case "march":
    print("its march")

  case "may":
    print("its may")

  case _ if x!="april":
    print("its not april")

  case _ if x!="june":
    print("its not june")

  case _:
    print(x)

Enter the month: april
its not june

Loops

In [25]:
a = "Buri"
for i in a:
  print(i)

colours = ["red","yellow","green","orange"]
for color in colours:
  print(color)
  for i in color:
    print(i)
    if i == "o":
      print("00000")

for i in range(1,6):
  print((i*2)-1)

for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [30]:
a = 5
while a > 0:
  print(a)
  a = a - 1

5
4
3
2
1

In [34]:
# Do While in Python
while True:
  n = int(input("enter number: "))
  print(n)
  if not n > 0:
    break
print("loop finished")

enter number: 9
9
enter number: 09
9
enter number: 78
78
enter number: -5
-5
loop finished

In [43]:
for i in range(12):
  if(i == 9):
    print("skipped the iteration")
    continue

  print((i+1)*5)

5
10
15
20
25
30
35
40
45
skipped the iteration
55
60

Functions

In [52]:
def add(a,b):
  sum = a+b
  print("your sum is",sum)

def isGreater(a, b):
  if a > b:
    print("first is greater")
  elif a==b:
    print("numbes are equal")
  else:
    print("second is greater")

def inComplete(a,b):
  pass


a=10
b=19

add(a,b)
isGreater(a,b)

your sum is 29
second is greater

In [66]:
def name(fname, mname, lname):
  print("hello",fname, mname, lname)

name("peter","miller"," ")

hello peter miller

In [65]:
def average(*numbers):
  sum=0
  for i in numbers:
    sum=sum+i
  return(sum/len(numbers))

a= average (14,3)

print(a)

8.5

List Comprehension

In [97]:
lst = [i*i for i in range(20) if i%2==0]
print (lst)

names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [i for i in names if "o" in i]
print(namesWith_O)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
['Milo', 'Bruno', 'Rosa']

List Methods

In [113]:
l = [11,45,1,2,4,6,1,1]
# print(l)

m= l.copy()
# m[0] = 0
# print(m)
# print(l)

# this method changes the original list aswell

# l = [11,45,1,2,4,6,1,1]
# print(l)

# m= l
# m[0] = 0
# print(m)

l.append(7)
l.sort()
l.sort(reverse=True)
print(l.index(1))
print(l.count(1))
l.insert(1, 900)
l.extend(m)
k = l+m

print(k)
print(l)

6
3
[45, 900, 11, 7, 6, 4, 2, 1, 1, 1, 11, 45, 1, 2, 4, 6, 1, 1, 11, 45, 1, 2, 4, 6, 1, 1]
[45, 900, 11, 7, 6, 4, 2, 1, 1, 1, 11, 45, 1, 2, 4, 6, 1, 1]

Tuples

In [16]:
tup = (1,2,5,8,98,76,45,67)
print(type(tup))
print(len(tup))
print(tup[-5])

# returns a new tuple, original remains same
tup2 = tup
print(tup2)

<class 'tuple'>
8
8
(1, 2, 5, 8, 98, 76, 45, 67)

KBC

In [34]:
ques = [["Who is the GOAT ?","None",
        "Cristiano","None","None", 2],
         ["Who has most goals ?","None",
        "Cristiano","None","None", 2],
        ["Who was robbed by FIFA ?","None",
        "Cristiano","None","None", 2]]
levels = [1000,50000,990000]
money = 0

for i in range(0, len(ques)):
  q = ques[i]
  print(f"Question for Rs {levels[i]}")
  print(f"a. {q[1]})       b. {q[2]}")
  print(f"c. {q[3]}        d. {q[4]}")
  reply = int(input("enter your ans (1-4)"))
  if(reply ==ques[-1]):
    print(f"correct ans, you won {levels[i]}")
    if(i == 2):
      money = 1000
    elif (i == 9):
      money = 990000
  else:
    print("wrong")
    break

Question for Rs 1000
a. None)       b. Cristiano
c. None        d. None
enter your ans (1-4)3
wrong