In [3]:
def getPos(num):
  if num > 0:
     return num
num_list = range(-10,10)

pos_nums = list(filter(getPos,num_list))
print(list(num_list))
print(pos_nums)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
def square2(num):
  return num ** 2
num_list = range(1,11)

squred_nums = list(map(square2,num_list))
print(list(num_list))
print(squred_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def add(x,y):
  sum = x + y
  return True if sum+1 =

In [8]:
a = lambda x : x*3
print(a(3))

9

In [11]:
num_list = range(1,11)
even =list(filter(lambda x : x%2 == 0 ,num_list))
print(even)

[2, 4, 6, 8, 10]

In [12]:
num_list = range(1,11)
sq =list(map(lambda x : x**2 ,num_list))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
from functools import reduce

num_list = range(1,11)
prd =(reduce(lambda x,y : x*y ,num_list))
print(prd)

3628800

In [20]:
from datetime import datetime as dt
dt.now()

datetime.datetime(2024, 1, 12, 14, 27, 39, 305601)

In [ ]:
f = open("buri.txt",'w')
f.write("My Name is Burhan")
f.write("\nMy Name is Rashid")
f.close()

In [ ]:
f = open("buri.txt",'r')
print(f.read())
f.close()