In [1]:
import numpy as np
import random

a = np.arange(100)
random.shuffle(a)
a

array([41, 57, 83, 42, 65, 27, 76,  9, 39, 81, 75,  6,  2, 12, 34, 64, 25,
       94, 52, 46, 51,  4, 11, 66, 60,  8, 44, 40, 77, 62, 22, 47, 10, 19,
       84, 72, 29, 95, 36, 87, 13, 53, 18, 14, 86, 32, 93, 45, 96, 88, 37,
        7, 79, 55, 15, 23, 89, 91, 31, 49, 35, 26,  0, 68, 92, 97, 80, 50,
       69, 54, 48, 43, 61, 70, 20, 30, 38,  1, 56,  3, 17, 73, 16, 99, 59,
       24, 33, 85, 67, 21,  5, 82, 71, 58, 98, 28, 74, 63, 78, 90])

In [17]:
import numpy as np

# Create a row vector
row_vector = np.array([1, 2, 3])

# Create a column vector
column_vector = np.array([[4], [5], [6]])

# Method 1: Using numpy.dot()
result_dot = np.dot(row_vector, column_vector)

# Print the results
print("Result using numpy.dot():")
print(result_dot)
np.ndim(row_vector)

Result using numpy.dot():
[32]

1

In [5]:
q = 6
isFound = False
for i in a:
  if i == q:
    print("found")
    isFound=True
    break
if isFound == False:
  print("Not found")

found

In [2]:
import pandas as pd
data = [[6, 10], [6, 10], [9, 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)
df.mean()

   Name  Age
0     6   10
1     6   10
2     9   14

Name     7.000000
Age     11.333333
dtype: float64

In [29]:
import numpy as np
a = np.array([[[2,3],[8,5],[9,8]]])
print(np.mean(a, axis=0))

[[2. 3.]
 [8. 5.]
 [9. 8.]]